{% extends "base_generic.html" %}



 {% load static %}

  <img src="{% static 'img/Foto Moises.png' %}" alt="My image"/>
  <img src="{% static 'img/Barra-Morada.png' %}" alt="My image"/>
  <img src="{% static 'img/Barra-Blanca.png' %}" alt="My image"/>
  <img src="{% static 'img/Logos Transparente.png' %}" alt="My image"/>
  <img src="{% static 'img/Foto Micha.png' %}" alt="My image"/>
  <img src="{% static 'img/Foto Paula.png' %}" alt="My image"/>
  <img src="{% static 'img/Foto Cosmo.png' %}" alt="My image"/>
  <img src="{% static 'img/Foto Walter.png' %}" alt="My image"/>
  <img src="{% static 'img/Foto Jorge.png' %}" alt="My image"/>
  <img src="{% static 'img/Foto Spain Day.png' %}" alt="My image"/>
  <img src="{% static 'img/Foto Logo TPC.png' %}" alt="My image"/>
  <img src="{% static 'img/Foto Qwest.jpg' %}" alt="My image"/>

  <img src="{% static 'img/Logo-Facebook.png' %}" alt="My image"/>
  <img src="{% static 'img/Logo-Instagram.png' %}" alt="My image"/>
  <img src="{% static 'img/Logo-Youtube.png' %}" alt="My image"/>
  <img src="{% static 'img/Logo-Twitter.png' %}" alt="My image"/>
  <img src="{% static 'img/Logo-Spotify.png' %}" alt="My image"/>
  <img src="{% static 'img/Logo-Itunes.png' %}" alt="My image"/>
 <img src="{% static 'media/media/Tapa_disco_Ritual_2qntKUQ.png' %}" alt="My image"/>




{% block content %}





<!-- Header -->

    <header>
      <div style="background-color:black" class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-12">
				<img src="{% static 'img/Logos Transparente.png' %}" class="Logo" alt="Tres Peces Logo"/>

            </div>
          </div>
        </div>
      </div>
    </header>


    <section>




<!-- We make contenta -->


<div class="jumbotron" style="background-color: #EEEEEE">
      <div class="container">

        <div class="row">
          <div class="col-12 text-center">

			<img src="{% static 'img/Barra-Morada.png' %}" class="barra" width="100px" height="20px" alt="Tres Peces Barra Morada"/>
            		<h1>WE MAKE MUSIC</h1>
			 		<h1>CONTENT</h1>
          	</div>
        </div>

        <div class="row" style="padding-top: 40px">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h3>Hacemos</h3>

			  <div id="my-content">

				  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt impedit est voluptatem doloremque architecto corporis suscipit quidem ratione! Quis laborum nam optio dolorem doloremque ex nobis quibusdam ad quo dolores? </p>
				</div>

          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h3>Música</h3>
			  <div id="my-content">
				  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt impedit est voluptatem doloremque architecto corporis suscipit quidem ratione! Quis laborum nam optio dolorem doloremque ex nobis quibusdam ad quo dolores? </p>
				</div>

          </div>

         <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h3>Medios digitales</h3>
			  <div id="my-content">
				  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt impedit est voluptatem doloremque architecto corporis suscipit quidem ratione! Quis laborum nam optio dolorem doloremque ex nobis quibusdam ad quo dolores? </p>
				</div>


          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h3>Audiovisuales</h3>

            <div id="my-content">
				  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt impedit est voluptatem doloremque architecto corporis suscipit quidem ratione! Quis laborum nam optio dolorem doloremque ex nobis quibusdam ad quo dolores? </p>
				</div>

          </div>

         <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h3>Eventos</h3>
            <div id="my-content">
				  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt impedit est voluptatem doloremque architecto corporis suscipit quidem ratione! Quis laborum nam optio dolorem doloremque ex nobis quibusdam ad quo dolores? </p>
				</div>

          </div>
         <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h3>Comunidad</h3>
           <div id="my-content">
				  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt impedit est voluptatem doloremque architecto corporis suscipit quidem ratione! Quis laborum nam optio dolorem doloremque ex nobis quibusdam ad quo dolores? </p>
				</div>

          </div>
        </div>
      </div>
	</div>


<!-- Artistas -->


		<div class="jumbotron" style="background-color: #b55151">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-4 mt-2 text-center">
			  <img src="{% static 'img/Barra-Blanca.png' %}" class="barra" width="100px" height="20px" alt="Tres Peces Barra Morada"/>
            <h1 style="color: #FCFCFC">ARTISTAS</h1>
          </div>
        </div>
      </div>





      <div class="container">

		<div class="row" style="padding-top: 40px">

			<div class="col-lg-8 col-lg-8-custom col-sm-12">
				<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/221871985?color=86BB81&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
				</div>


			<div class="col-lg-4 text-center" style="padding-left: 15px; padding-top: 15px;" >
            <div id="my-content">
				  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt impedit est voluptatem doloremque architecto corporis suscipit quidem ratione! Quis laborum nam optio dolorem doloremque ex nobis quibusdam ad quo dolores? </p>
				</div>
          </div>

		</div>


		  <div class="container">
			  <div class="row">
        		<div class="col-lg-2 col-md-4 col-sm-6 col-xl-2 text-center" style="padding-bottom: 20px;">
			 	<a href="https://www.w3schools.com"><img border="0" alt="W3Schools" src="{% static 'img/Foto Moises.png' %}" class="artist-foto"></a>
          		<a href="url" class="artist-title">Moisés P. Sánchez</a><br>
			 	<a href="url" class="artist-style esconder">Contemporary jazz</a>
        		</div>

				<div class="col-lg-2 col-md-4 col-sm-6 col-xl-2 text-center" style="padding-bottom: 20px;">
			 	<a href="https://www.w3schools.com"><img border="0" alt="W3Schools" src="{% static 'img/Foto Micha.png' %}" class="artist-foto"></a>
          		<a href="url" class="artist-title">Michael Olivera</a><br>
			  <a href="url" class="artist-style esconder">Afro cuban jazz</a>
        		</div>

				<div class="col-lg-2 col-md-4 col-sm-6 col-xl-2 text-center" style="padding-bottom: 20px;">
			 	<a href="https://www.w3schools.com"><img border="0" alt="W3Schools" src="{% static 'img/Foto Cosmo.png' %}" class="artist-foto"></a>
          		 <a href="url" class="artist-title">Cosmosoul</a><br>
			  <a href="url" class="artist-style esconder">Neo soul</a>
        		</div>

				  <div class="col-lg-2 col-md-4 col-sm-6 col-xl-2 text-center" style="padding-bottom: 20px;">
			 	<a href="https://www.w3schools.com"><img border="0" alt="W3Schools" src="{% static 'img/Foto Walter.png' %}" class="artist-foto"></a>
          		   <a href="url" class="artist-title">Walter Geromet</a><br>
			  <a href="url" class="artist-style esconder">Experimental jazz</a>
        		</div>

				  <div class="col-lg-2 col-md-4 col-sm-6 col-xl-2 text-center" style="padding-bottom: 20px;">
			 	<a href="https://www.w3schools.com"><img border="0" alt="W3Schools" src="{% static 'img/Foto Jorge.png' %}" class="artist-foto"></a>
          		  				  <a href="url" class="artist-title">Jorge Vera</a><br>
			  <a href="url" class="artist-style esconder">Fussion jazz</a>
        		</div>

				  <div class="col-lg-2 col-md-4 col-sm-6 col-xl-2 text-center" style="padding-bottom: 20px;">
			 	<a href="https://www.w3schools.com"><img border="0" alt="W3Schools" src="{% static 'img/Foto Paula.png' %}" class="artist-foto"></a>
          		  				 <a href="url" class="artist-title">Paula Bilá</a><br>
			  <a href="url" class="artist-style esconder">Folk soul</a>
        		</div>
				</div>
     		</div>



      </div>
			</div>


<!-- eventos -->


      <div class="jumbotron">
        <div class="container">
          <div class="row col-lg-12">

			  <div class="row col-lg-6">
					  <div class="col-lg-12">
							<img src="{% static 'img/Barra-Morada.png' %}" class="barra" width="100px" height="20px" alt="Tres Peces Barra Morada"/><br>
							<h1 style="padding-bottom: 40px;">EVENTOS</h1>
					  </div>

					  <div class="col-lg-4 col-sm-4" >

						  <a href="https://www.w3schools.com"><img border="0" alt="W3Schools" src="{% static 'img/Foto Spain Day.png' %}" class="artist-foto"></a>
						  <a href="url" class="artist-title-dark esconder">Spain Day</a><br>
						  <a href="url" class="artist-style-dark esconder">Internacionalización</a>

					  </div>

					  <div class="col-lg-4 col-sm-4">
						  <a href="https://www.w3schools.com"><img border="0" alt="W3Schools" src="{% static 'img/Foto Logo Flamenco.png' %}" class="artist-foto"></a>
						  <a href="url" class="artist-title-dark esconder">Dreaming Flamenco</a><br>
						  <a href="url" class="artist-style-dark esconder">Espectáculo musical</a>
					  </div>

					  <div class="col-lg-4 col-sm-4">
					    <a href="https://www.w3schools.com"><img border="0" alt="W3Schools" src="{% static 'img/Foto Paula.png' %}" class="artist-foto"></a>
						<a href="url" class="artist-title-dark esconder" >Conciertos</a><br>
						<a href="url" class="artist-style-dark esconder">Folk soul</a>
					  </div>
				  </div>


			  <div class="row col-lg-6" >


					  <div class="col-lg-12">
							<img src="{% static 'img/Barra-Morada.png' %}" class="barra esconder" width="100px" height="20px" alt="Tres Peces Barra Morada"/><br>
							<h1 style="padding-bottom: 40px;">MEDIOS</h1>
					  </div>

					<div class="col-lg-4 col-sm-4" >

						  <a href="https://www.w3schools.com"><img border="0" alt="W3Schools" src="{% static 'img/Foto Logo TPC.png' %}" class="artist-foto"></a>
						  <a href="url" class="artist-title-dark esconder">Tu Próximo Concierto</a><br>
						  <a href="url" class="artist-style-dark esconder">Online media</a>

					  </div>

					  <div class="col-lg-4 col-sm-4">
						  <a href="https://www.w3schools.com"><img border="0" alt="W3Schools" src="{% static 'img/Logo Qwest.jpg' %}" class="artist-foto"></a>
						  <a href="url" class="artist-title-dark esconder">Qwest Tv</a><br>
						  <a href="url" class="artist-style-dark esconder">Streaming platform</a>
					  </div>


		</div>
			</div>

		  </div>
	  </div>


    </section>





	<!-- Gadget social media -->


	<div class="jumbotron" style="background-color: #181413;">
       		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" >
                <div class="row">
                    {% with "Tres Peces" as objetivo %}
                        <div style="margin-left: auto; margin-right: auto;"> {% include "catalog/Gadget.html" %} </div>
                    {% endwith %}
                </div>
		    </div>
	</div>




{% endblock %}